*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TEST LAYOUT */

.bgred{
    background-color: red;
    border: 1px solid black;
}

.height250{
    height: 250px;
}

.height400{
    height: 400px;
}

.height75{
    height: 75px;
}

/* COMMON */

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-hd{
    max-width: 1800px;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-sm{
    max-width: 850px;
    margin: 120px auto;
}

.bgblue{
    background-color: #B3D0E7;
    padding: 45px 0;
}

.square{
    width: 50%;
    height: 50%;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.gap{
    gap: 20px;
}

.margin-y-40{
    margin: 40px 0;
}

.spacebet{
    justify-content: space-between;
}

.img-size{
    width: 100%;
    position: absolute;
}

/* COLONNE */

.col20{
    width: calc(100%/5);
}

.col30{
    width: 30%;
}

.col33{
    width: calc(100%/3 - 14px);
}

.col33-b{
    width: calc(100%/3);
}

.col40{
    width: 40%;
}

/* .col50{
    width: 50%;
} */

.col60{
    width: 60%;
}

.col70{
    width: 70%;
}

.col100{
    width: 100%;
}



/* HEADER */

header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

header ul li{
    margin: 0 10px;
}

.start{
    background-color: #0160FF;
    padding: 5px 15px;
    color: white;
    border: none;
}

.trial{
    background-color: #0160FF;
    padding: 10px;
    color: white;
    border: none;
    margin-bottom: 25px;
}

.padding-1510{
    padding: 15px 0px;
}


/* MAIN */

main h1{
    font-size: 60px;
}

.maincontent h2{
    font-size: 35px;
    margin-bottom: 40px;
}

.jumbo{
    position: relative;
}

.billing{
    display: flex;
    gap: 30px;
}

.plancontent{
    min-height: 900px;
    border: 1px solid #E5E5E7;
}

.subkind{
    text-align: center;
    border-bottom: 1px solid #E5E5E7;
    padding: 10px;
}

.subscription{
    padding: 25px;
}

.subprice p{
    color: gray;
    margin-top: 15px;
}

.subscription ul{
    list-style-type: none;
    margin: 35px 0;
}

.subscription li{
    margin: 10px 0;
}

.subscription h3{
    font-size: 25px;
    margin-bottom: 20px;
}

hr{
    width: 25%;
    margin: 20px 0;
}

/* FOOTER */

footer{
    background-color: black;
    height: 400px;
}